@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-btn-1: #8e51ff;
  --color-btn-2: #f43f5e;
  --color-btn-3: #00c950;
  --color-btn-4: #2b7fff;
  --color-btn-5: #dfdfdf;

  --color-back-1: #eff2f4;
  --color-back-2: #ffffff;
  --color-back-3: #f2f2f2;

  --color-line-1: #e4e4e4;
  --color-line-2: #8d8d8d80;

  --color-txt-1: #282828;
  --color-txt-2: #28282880;
  --color-txt-3: #ffffff;
  --color-txt-4: #3a8bed;
  --color-txt-5: #8d8d8d80;
  --color-txt-6: #00000099;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  img::selection {
    background-color: transparent;
  }

  button {
    cursor: pointer;
  }
}
