@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-btn-1: #8e51ff;
  --color-btn-2: #f43f5e;
  --color-btn-3: #00c950;
  --color-btn-4: #2b7fff;
  --color-btn-5: #dfdfdf;

  --color-back-1: #f7f7f8;
  --color-back-2: #ffffff;
  --color-back-3: #f2f2f2;
  --color-back-4: #3333337d;

  --color-line-1: #e4e4e4;
  --color-line-2: #8d8d8d80;
  --color-line-3: #f2f2f2;

  --color-txt-1: #282828;
  --color-txt-2: #28282880;
  --color-txt-3: #ffffff;
  --color-txt-4: #3a8bed;
  --color-txt-5: #8d8d8d80;
  --color-txt-6: #00000099;
  --color-txt-7: #8d8d8d;

  --color-icon-1: #292d32;

  --radius-5xl: 40px;
  --radius-6xl: 48px;

  --breakpoint-xs: 450px;
  --breakpoint-xm: 500px;
  --breakpoint-3xl: 2000px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  img::selection {
    background-color: transparent;
  }

  button {
    cursor: pointer;
  }

  input {
    outline: none;
    color: var(--color-txt-1);
  }
}

@utility login-register_input {
  @apply bg-back-3 w-[25rem] max-sm:w-full p-[15px] rounded-2xl placeholder:text-txt-2;
}

@utility login-register_link {
  @apply text-base text-txt-4 hover:underline transition-all;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    display: none;
    width: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

@utility modal-input-wrapper {
  @apply flex flex-col gap-2;
}

@utility modal-input-label {
  @apply font-medium text-sm text-txt-1;
}

@utility modal-input {
  @apply bg-back-3 rounded-lg py-3 px-2 w-full text-sm text-txt-1 font-light placeholder:text-txt-7;
}

@utility error-wrapper {
  @apply flex flex-col gap-2;
}

@utility error-message {
  @apply text-sm max-sm:text-xs max-sm:min-h-[20px] text-btn-2 min-h-[25px] w-[25rem] max-sm:w-full max-h-[50px] leading-6;
}

@utility books-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 5px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #dfdfdf;
  }
}
